In [2]:
import pandas as pd
df = pd.read_csv('titanic.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
None

In [3]:
columns = df.columns.tolist()
print(columns)
shape = df.shape
print(shape)
types = df.dtypes
print(types)

['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']
(891, 15)
survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
dtype: object

In [16]:
import pandas as pd
df = pd.read_csv('titanic.csv')

# Check the available columns
print("Available Columns:")
print(df.columns)
pivot_table = df.pivot_table(index=['sex', 'pclass'], values = 'fare', aggfunc='mean')
print("\nPivot Table with Multiple Indexes:")
print(pivot_table)

Available Columns:
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

Pivot Table with Multiple Indexes:
                     fare
sex    pclass
female 1       106.125798
       2        21.970121
       3        16.118810
male   1        67.226127
       2        19.741782
       3        12.661633

In [17]:
pivot_table = df.pivot_table(index='sex', columns='pclass', values='survived', aggfunc='mean')
print(pivot_table)

pclass         1         2         3
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [18]:
pivot_table = df.pivot_table(index='sex', values='survived', aggfunc='mean')
print(pivot_table)

        survived
sex
female  0.742038
male    0.188908

In [21]:
pivot_table = df.pivot_table(index=['sex', pd.cut(df['age'], bins=[0, 18, 35, 50, 100])], 
                             columns='pclass', 
                             values='survived', 
                             aggfunc='mean')
print(pivot_table)

pclass                   1         2         3
sex    age
female (0, 18]    0.909091  1.000000  0.511628
       (18, 35]   0.972222  0.925000  0.500000
       (35, 50]   0.960000  0.882353  0.142857
       (50, 100]  1.000000  0.666667  1.000000
male   (0, 18]    0.800000  0.600000  0.215686
       (18, 35]   0.500000  0.074074  0.155844
       (35, 50]   0.400000  0.055556  0.076923
       (50, 100]  0.192308  0.083333  0.000000

C:\Users\USER\AppData\Local\Temp\ipykernel_26180\3059312442.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_table = df.pivot_table(index=['sex', pd.cut(df['age'], bins=[0, 18, 35, 50, 100])],

In [23]:
df = pd.read_csv('titanic.csv')

# Define age categories
age_bins = [0, 10, 30, 60, 80]

# Define labels for the age categories
age_labels = ['0-10', '10-30', '30-60', '60-80']

# Create a new column 'Age_Category' based on the age bins
df['Age_Category'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)

# Display the DataFrame with the new 'Age_Category' column
print(df[['age', 'Age_Category']].head())

    age Age_Category
0  22.0        10-30
1  38.0        30-60
2  26.0        10-30
3  35.0        30-60
4  35.0        30-60

In [24]:
age_bins = [0, 10, 30, 60, 80]
age_labels = ['0-10', '10-30', '30-60', '60-80']

df['Age_Category'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)

pivot_table = pd.pivot_table(df, 
                              values='survived', 
                              index=['pclass', 'sex'], 
                              columns='Age_Category', 
                              aggfunc='count')

print(pivot_table)

Age_Category   0-10  10-30  30-60  60-80
pclass sex
1      female     1     29     52      3
       male       2     23     62     13
2      female     8     33     33      0
       male       9     38     48      4
3      female    21     55     25      1
       male      21    144     84      4

C:\Users\USER\AppData\Local\Temp\ipykernel_26180\4284418904.py:6: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_table = pd.pivot_table(df,

In [25]:
age_bins = [0, 10, 30, 60, 80]
age_labels = ['0-10', '10-30', '30-60', '60-80']

# Create a new column 'Age_Category' based on the age bins
df['Age_Category'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)

pivot_table = pd.pivot_table(df, 
                              values='survived', 
                              index=['pclass', 'sex'], 
                              columns='Age_Category', 
                              aggfunc='mean')

# Display the Pivot table
print(pivot_table)

Age_Category       0-10     10-30     30-60     60-80
pclass sex
1      female  0.000000  0.965517  0.980769  1.000000
       male    1.000000  0.478261  0.403226  0.076923
2      female  1.000000  0.909091  0.909091       NaN
       male    1.000000  0.026316  0.083333  0.250000
3      female  0.523810  0.509091  0.280000  1.000000
       male    0.380952  0.138889  0.119048  0.000000

C:\Users\USER\AppData\Local\Temp\ipykernel_26180\2624356748.py:7: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_table = pd.pivot_table(df,